Pandas Datareader 
https://pandas-datareader.readthedocs.io/en/latest/

In [1]:
#Import dictionaries and libraries
#Pandas Datareader prepares the data in a dataframe for you
#To install Pandas Datareder pip install pandas-datareader
import pandas_datareader as pdr
import datetime as dt

In [2]:
ticker_symbols = ["SPY", "META", "AAPL", "AMZN", "NFLX", "GOOG", "MSFT"]
start = dt.datetime(2002,3,1)
end = dt.datetime(2022,6,30)
data = pdr.get_data_yahoo(ticker_symbols, start)

In [3]:
data.head()

Attributes  Adj Close                                                   Close  \
Symbols           SPY META      AAPL    AMZN NFLX GOOG       MSFT         SPY
Date
2002-03-01  76.948898  NaN  0.358039  0.7695  NaN  NaN  19.287210  113.739998
2002-03-04  78.308754  NaN  0.370864  0.8240  NaN  NaN  19.893761  115.750000
2002-03-05  78.058395  NaN  0.359260  0.7985  NaN  NaN  19.824623  115.379997
2002-03-06  78.985275  NaN  0.367505  0.8165  NaN  NaN  19.997477  116.750000
2002-03-07  78.816116  NaN  0.372238  0.7810  NaN  NaN  19.711481  116.500000

Attributes                 ... Open                      Volume       \
Symbols    META      AAPL  ... NFLX GOOG       MSFT         SPY META
Date                       ...
2002-03-01  NaN  0.418750  ...  NaN  NaN  29.525000  26273600.0  NaN
2002-03-04  NaN  0.433750  ...  NaN  NaN  30.620001  27184600.0  NaN
2002-03-05  NaN  0.420179  ...  NaN  NaN  31.500000  22718900.0  NaN
2002-03-06  NaN  0.429821  ...  NaN  NaN  31.455000  20143200.0  NaN
2002-03-07  NaN  0.435357  ...  NaN  NaN  31.834999  19330800.0  NaN

Attributes
Symbols            AAPL         AMZN NFLX GOOG        MSFT
Date
2002-03-01  348992000.0  196784000.0  NaN  NaN  62115600.0
2002-03-04  348258400.0  278564000.0  NaN  NaN  74464200.0
2002-03-05  274702400.0  176194000.0  NaN  NaN  55926400.0
2002-03-06  226206400.0  285254000.0  NaN  NaN  49835400.0
2002-03-07  258249600.0  185446000.0  NaN  NaN  58079200.0

[5 rows x 42 columns]

In [4]:
data.tail()

Attributes   Adj Close                                                  \
Symbols            SPY        META        AAPL        AMZN        NFLX
Date
2022-07-13  378.829987  163.490005  145.490005  110.400002  176.559998
2022-07-14  377.910004  158.050003  148.470001  110.629997  174.779999
2022-07-15  385.130005  164.699997  150.169998  113.550003  189.110001
2022-07-18  381.950012  167.229996  147.070007  113.760002  190.919998
2022-07-19  392.269989  175.779999  151.000000  118.209999  201.630005

Attributes                               Close                          ...  \
Symbols           GOOG        MSFT         SPY        META        AAPL  ...
Date                                                                    ...
2022-07-13  112.186996  252.720001  378.829987  163.490005  145.490005  ...
2022-07-14  111.440002  254.080002  377.910004  158.050003  148.470001  ...
2022-07-15  112.766998  256.720001  385.130005  164.699997  150.169998  ...
2022-07-18  109.910004  254.250000  381.950012  167.229996  147.070007  ...
2022-07-19  114.620003  259.529999  392.269989  175.779999  151.000000  ...

Attributes        Open                              Volume              \
Symbols           NFLX        GOOG        MSFT         SPY        META
Date
2022-07-13  170.500000  112.639000  250.190002  84224600.0  16555100.0
2022-07-14  175.559998  110.825996  250.570007  89704800.0  23765200.0
2022-07-15  175.580002  112.962997  255.720001  79016800.0  23172800.0
2022-07-18  192.500000  113.440002  259.750000  63203600.0  23574300.0
2022-07-19  193.020004  111.730003  257.575012  69836538.0  25814828.0

Attributes
Symbols           AAPL        AMZN        NFLX        GOOG        MSFT
Date
2022-07-13  71185600.0  61353800.0  12734400.0  38958000.0  29497400.0
2022-07-14  78140700.0  51163100.0   9039500.0  32366000.0  25102800.0
2022-07-15  76030800.0  83891100.0  16215100.0  34330000.0  29572500.0
2022-07-18  81420900.0  59115400.0  16322800.0  33354000.0  20975000.0
2022-07-19  82576007.0  58769724.0  26731435.0  30649448.0  24772735.0

[5 rows x 42 columns]

In [5]:
data.tail()

Attributes   Adj Close                                                  \
Symbols            SPY        META        AAPL        AMZN        NFLX
Date
2022-07-13  378.829987  163.490005  145.490005  110.400002  176.559998
2022-07-14  377.910004  158.050003  148.470001  110.629997  174.779999
2022-07-15  385.130005  164.699997  150.169998  113.550003  189.110001
2022-07-18  381.950012  167.229996  147.070007  113.760002  190.919998
2022-07-19  392.269989  175.779999  151.000000  118.209999  201.630005

Attributes                               Close                          ...  \
Symbols           GOOG        MSFT         SPY        META        AAPL  ...
Date                                                                    ...
2022-07-13  112.186996  252.720001  378.829987  163.490005  145.490005  ...
2022-07-14  111.440002  254.080002  377.910004  158.050003  148.470001  ...
2022-07-15  112.766998  256.720001  385.130005  164.699997  150.169998  ...
2022-07-18  109.910004  254.250000  381.950012  167.229996  147.070007  ...
2022-07-19  114.620003  259.529999  392.269989  175.779999  151.000000  ...

Attributes        Open                              Volume              \
Symbols           NFLX        GOOG        MSFT         SPY        META
Date
2022-07-13  170.500000  112.639000  250.190002  84224600.0  16555100.0
2022-07-14  175.559998  110.825996  250.570007  89704800.0  23765200.0
2022-07-15  175.580002  112.962997  255.720001  79016800.0  23172800.0
2022-07-18  192.500000  113.440002  259.750000  63203600.0  23574300.0
2022-07-19  193.020004  111.730003  257.575012  69836538.0  25814828.0

Attributes
Symbols           AAPL        AMZN        NFLX        GOOG        MSFT
Date
2022-07-13  71185600.0  61353800.0  12734400.0  38958000.0  29497400.0
2022-07-14  78140700.0  51163100.0   9039500.0  32366000.0  25102800.0
2022-07-15  76030800.0  83891100.0  16215100.0  34330000.0  29572500.0
2022-07-18  81420900.0  59115400.0  16322800.0  33354000.0  20975000.0
2022-07-19  82576007.0  58769724.0  26731435.0  30649448.0  24772735.0

[5 rows x 42 columns]